certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
docker==2.7.0
docker-pycreds==0.2.1
future==0.16.0
-e git+https://github.com/openai/gym.git@0eccce8146d011f7691f4aff5766be7c5a4d8cbd#egg=gym
idna==2.6
matplotlib==2.1.2
networkx==2.1
numpy==1.14.0
Pillow==5.0.0
pyglet==1.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
ruamel.yaml==0.15.35
scikit-image==0.13.1
scipy==0.18.1
six==1.11.0
urllib3==1.22
websocket-client==0.46.0
