docker~=3.1
gym~=0.10.5
scipy~=1.0
Pillow~=5.0
ruamel.yaml~=0.15
Flask~=0.12
requests~=2.18
jsonmerge~=1.5.1
astroid>=2
isort~=4.3.4
pylint>=2
websockets~=6.0
websocket-client~=0.53.0
python-cli-ui~=0.7.1
python-rapidjson~=0.6.3
Click==7.0
