<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
       id="bodyTable">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="20" cellspacing="0" width="600"
             id="emailContainer" style="border-radius:4px;border:1px #dceaf5 solid;">
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0"
                   width="100%" id="emailHeader">
              <tr>
                  <td align="center" valign="top" style="padding-bottom:0px">
                      <img src="" alt="Playground: Where AIs learn to play." height="70"></img>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0"
                   width="100%" id="emailBody">
              <tr>
                <td align="center" valign="top"
                style="text-align:left;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';font-size:15px;line-height:25px;">
                  {% block body %}

                  {% endblock %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
